<div class="restaurantActivityItem">
  <p>(Restaurant)</p>
  {{activity.id}}
  {{activity.place.name}}
  {{#if controller.editing}}
    {{view view.parentView.editControls}}
    {{view view.parentView.editToggle}}
  {{else}}
    {{view view.parentView.editToggle}}
  {{/if}}
</div>