<div class="place-box">
<div class="place" data-toggle="collapse" data-target="#demo-place1">
  <span class="blurb">
    <h1>{{place.name}}</h1>
    <p>{{place.description}}</p>
  </span>
  <div class="place-detail" id="demo-place1">
    <div class="actions">
      <h3>More Info</h3>
      <ul>
        <li>{{place.place_type.name}}</li>
        {{#if place.place_subtypes}}
        {{#each place.place_subtypes}}
          <li>{{name}}</li>
        {{/each}}
        {{/if}}
        {{#if place.website}}
        	<li><a {{bindAttr href=place.website}}><b>website</b></a></li>
        {{/if}}
        {{#if place.reviews.1.author_name}}
        <li><b>{{place.reviews.1.author_name}}said:</b> {{place.reviews.1.text}}</li>
        {{/if}}
        {{#if place.reviews.2.author_name}}
        <li><b>{{place.reviews.2.author_name}}said:</b> {{place.reviews.2.text}}</li>
        {{/if}}
      </ul>
      <button class="action-example">Send to my Email</button>
      <button class="utility-example">Share on Facebook</button>
    </div>
    <div id="detail-map-canvas">
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
	App.InitMapDetail();
</script>

{{log this}}
