<section id="place-list">
	{{#each model}}
		{{#linkTo 'item' this}}
		<div class="place">
	      <img {{bindAttr src="place.img_url"}} style="height:130px; width: 130px;"/>	      <span class="blurb">
	        <h1>{{place.name}}</h1>
	        <p>
	        	{{#if place.description}}
	        		{{place.description}}
	        	{{else}}
	        		{{#each place.reviews}}
	        			{{text}}
	        		{{/each}}
	        	{{/if}}
	        </p>
	        <span {{action shiftUp id target="App.day"}}> [move up]</span>
			<span {{action shiftDown id target="App.day"}}> [move down]</span>
	      </span>
	    </div>
		{{/linkTo}}
	{{/each}}
</section>