{{#with model}}
<section class="place-detail">
  <div class="main">
    <div class="text">
    <h3>{{name}}</h3>
    {{view view.infoView}}
  </div>
  <div class="media">
    <img {{bindAttr src=img_url}}>
    {{view view.littleMapView}}
  </div>
  </div>
  {{view view.reviewView}}
</section>
{{/with}}